
# Entornos virtuales locales
env/
venv/
.venv/

# Base de datos local
db.sqlite3

# Caché y archivos compilados de Python
_pycache_/
pycache/
_pycache/
*.py[cod]

# Archivos locales comunes
.env
.env.local
.espaciometro/

# Configuración específica de cada máquina
myproject/local_settings.py

# Archivos media generados/cargados por la aplicacion
/media/

# Archivos static generados por collectstatic
/staticfiles/
