{% extends 'base.html' %}
{% load static %}
{% block template_label %}<label class="badge bg-secondary text-uppercase">ODT-LISTA-{% now "d-m-y" %}</label>{% endblock %}
{% block content %}
<h2>Órdenes de Trabajo</h2>

<input type="text" id="busqueda" class="form-control mb-3" placeholder="Buscar por cliente, técnico o alias...">

<div id="resultados-odt">
    {% include 'odt/includes/odt_resultados.html' %}
</div>

<script src="{% static 'extintores/js/odt-search.js' %}?v=1" defer></script>
{% endblock %}
